<% include partials/header.ejs %>

        <!--main content -->
    <main class="container">
        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>
            . Im a Computer Programming Analyst student currently studying at Gerogian College. I am currently in my 4th semester and have thoroughly enjoyed
            the experiences and knowledge I have gained. I also enjoy playing video games and snowboarding in my spare time.
    </main>
    <div class="snow">
<img src="/images/Snowboarder.jpg" alt="snowboarder" height="350" width="350">
    </div>
    <div class="game">
<img src="/images/gaming.jpg" alt="gaming" height="350" width="350">
    </div>
<% include partials/footer.ejs %> 