<% include partials/header.ejs %>

        <!--main content -->
    <main class="container">
        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>
        </p>
        <form>
  <div class="form-group">
    <label for="myEmail">Email address:<br><br>austinmkpc@hotmail.com</label>
  </div>
  <div class="form-group">
      <label for="myPhone">Phone:<br><br>(705)711-4444</label>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Send a file for me to review</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

    </main>

<% include partials/footer.ejs %> 