<% include partials/header.ejs %>

        <!--main content -->
    <main class="container">
        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>
            . Feel Free to click on any of the following tabs above or the button down below to learn more about what I, and this website are all about.
            
        </p>
        <div class="main">
            <img src="/images/mainphoto.jpg" alt="Hi" height="350" width="350">   
    </main>

<% include partials/footer.ejs %> 