<% include partials/header.ejs %>

        <!--main content -->
    <main class="container">
        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>
        </p>
      <div class="img-with-text">  
    <img src="/images/arduino.jpg" alt="arduino" height="350" width="350">
    <p>
        Created a temperature sensing vent that open or closed based on the temperature in the room and the temperature the user told the system.
    </p>
      </div>
    </main>

<% include partials/footer.ejs %> 