<% include partials/header.ejs %>
        <!--main content -->
    <main class="container">
        <h1><%= title %></h1>
        <p>Welcome to
            <%= title %>
            . As a Gerogian College Student i posses many skills to aid in my future career including:
            
        </p>
        <div class="skills">
        <ul>
            <li>Mainframe managenment</li>
            <li>Object Oriented Program</li>
            <li>Web development</li>
            <li>Database Setup</li>
            </ul>
            </div>
            <div class="georgian">
            <img src="/images/georgian.jpg" alt="College" height="400" width="700">
            </div>
    </main>

<% include partials/footer.ejs %> 